<!DOCTYPE html>
<html>
<head>
  <title>PopcornMenu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1><%= link_to 'PopcornMenu', root_path %></h1>

  <div style='width:200px;float:left;'>
    <ul><%= link_to 'Would like to watch', group_my_movies_path(:waited) %></ul>
    <ul><%= link_to 'Watched', group_my_movies_path(:watched) %></ul>
    <ul><%= link_to 'Would not like to watch', group_my_movies_path(:hated) %></ul>
  </div>
  <div style='margin-left:217px;'>
    <%= yield %>
  </div>

</body>
</html>
