<!DOCTYPE html>
<html>
  <head>
    <title>PopcornMenu</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <%= link_to 'PopcornMenu', root_path, class: "navbar-brand" %>
      </div>
    </nav>

    <div style='width:200px;float:left;'>
      <%- if current_user %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete =%>
        <ul>
          <li><%= link_to 'Show all', root_path %></li>
          <li><%= link_to 'Would like to watch', group_my_movies_path(:waited) %></li>
          <li><%= link_to 'Watched', group_my_movies_path(:watched) %></li>
          <li><%= link_to 'Would not like to watch', group_my_movies_path(:hated) %></li>
        </ul>
      <%- else %>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) =%>
      <%- end %>
    </div>
    <div style='margin-left:217px;'>
      <%= yield %>
    </div>

  </body>
</html>